
/**general style**/
img {
  max-width: 100%;
}

.btn-load-more {
  width: 190px;
  display:block;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #e6e5e5;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 40px;
  cursor: pointer;
}

.header {
  top: 0px;
  left: 0px;
  right: 0px;
  /**box-shadow: 0 0 2px rgba(0,0,0,.35);**/
  margin-bottom: 20px;
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  font: 42px/65px RomainBPTextRegular,Georgia,Times New Roman,Times,serif;
}

.header-intro {
  /**max-width: 1080px;**/
  text-align: center;

}

.top-link {
  position: fixed;
  right: 0px;
  bottom: 0px;
  padding: 23px 24px 14px 28px;
  background-color: #fff;
  color: #999;
  font-size: 15px;
  text-align: center;
  transition: opacity .2s;
  text-decoration: none;
}

.load-button-wrapper {
  width: 190px;
  margin: 0 auto;
}

.btn-load-more-active {
  background-color: black;
  color: white;
  transition: opacity .2s;
}

/**responsive page media query**/
/**small width 768px**/
@media only screen and (max-width: 768px) {
  .nasa-wrapper {
    text-align: center;
  }    

  .nasa-header {

  }
}

/**medium width 768px to 979px**/

@media (min-width: 768px) and (max-width: 979px) {
    
  }


/**large width 979px**/
@media (max-width: 979px){

}
