
/**general style**/
img {
  width: 100%;
  height: 100%;
}

.btn-load-more {
  width: 190px;
  display:block;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #e6e5e5;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 40px;
  cursor: pointer;
}

.header-intro {
  /**max-width: 1080px;**/
  text-align: center;

}
.header-intro-mobile {
  opacity: 0;
  display: none;
}

.top-link {
  position: fixed;
  right: 0px;
  bottom: 0px;
  padding: 23px 24px 14px 28px;
  background-color: #fff;
  color: #999;
  font-size: 15px;
  text-align: center;
  transition: opacity .2s;
  text-decoration: none;
}

/*header general style*/
.header {
  top: 0px;
  left: 0px;
  right: 0px;
  padding-left: 20px;
  padding-right: 20px; 
}

/*style for active header*/
.active-header {
  margin-top: 42px;
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  font: 42px/65px RomainBPTextRegular,Georgia,Times New Roman,Times,serif;
  margin-bottom: 20px;  
}

.seach-bar-fixed-headline {
  font-weight: 600;
  font-size: 26px;
  padding-left: 20px;
  padding-right: 20px; 
}

.header-sticky{
  box-shadow: 0 0 10px rgba(0,0,0, .35);
}

/*style for inactive header*/

.inactive-header {
  display: flex;
  justify-content: center;
  padding-top: 66px;
  padding-bottom: 66px;
  height: 500px;
  color: white;
  background-image: url('https://i.imgur.com/IpEF5Xb.jpg');
  font: 35px/45px RomainBPTextRegular,Georgia,Times New Roman,Times,serif;
}

.inactive-search-bar {
  opacity: 0;
  display: none;
}

.search-bar-fixed {
  opacity: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  background: #232a34;
  min-height: 58px;
  box-shadow: 0 0 10px rgba(0,0,0, .35);
}

.fixed-search-bar-text {
  opacity: 0;
  display: none;
  color: #fff;
}

/**loading button style**/

.load-button-wrapper {
  width: 190px;
  margin: 0 auto;
}

.btn-load-more-active {
  background-color: black;
  color: white;
  transition: opacity .2s;
}

/**responsive page media query**/
/**extra small width**/
@media only screen and (max-width: ) {
  
}
/**small width 768px**/
@media only screen and (max-width: 766px) {
  .nasa-wrapper {
  }    

  .nasa-header {

  }

  /**intro transition**/
  /**logo change && position change**/
  .header-intro {
    opacity: 0;
    display: none;
  }

  .header-intro-mobile {
    opacity: 1;
    display: block;
    margin: 0px;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .input-counter {
    opacity: 0;
    display: none;
  }

  .header {
    box-shadow: 0 0 10px rgba(0,0,0, .35);
  }
}

/**medium width 768px to 979px**/

@media (min-width: 767px) and (max-width: 979px) {
  .fixed-search-bar-text {
    opacity: 1;
    font-size: 20px;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }

}


/**large width 979px**/
@media (min-width: 979px){
  .fixed-search-bar-text {
    opacity: 1;
    font-size: 20px;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
}
