/**general style**/
.table {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.table-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

/**table general layout**/
.table-grid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.table-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
  color: #999;
  text-align: left;
/*  width: 25%;*/
  transition: all 1s linear;

}

.table-grid-item-pic {
  max-width: 280px;

}

.table-grid-item-content {
	display: flex;
	flex-direction: column;
  align-items: center; 
	max-width: 280px;
}

.table-grid-item-title {
	text-align: center;
  color: #353c52;
  font-family: "Asap",sans-serif;
  letter-spacing: 0;
  font-size: 13px;
}

.table-grid-item-date {
  font-family: "Asap",sans-serif;
  color: #5c6f84;
  font-size: 16px;
}
/**responsive page media query**/

/**small width 768px**/
@media only screen and (max-width: 766px) {
  .table-grid {
  	flex-direction: column;
  	justify-content: center;
  }

  .table-grid-item {
  	margin-bottom: 60px;
  	width: auto;
  }

}

@media only screen and (max-width: 979px) and (min-width: 767px) {
  .table-grid {
  /*	flex-wrap: wrap;*/
    justify-content: center;
  }	

  .table-grid-item {
  	/*width: 50%;*/
  }
}



