
/**SORT TABLE active button style **/


.button-primary {
  background-color: #fff;
  color: #999;
  padding: 20px;
  cursor: pointer;
  font-size: 15px; 	
}

.button-inline {
 	
}

.button-active {
  font-weight: bold;
  color: #000;
}

/**sort button reponsive in mobile version**/
/**fix overflow issue of table sort button**/

@media only screen and (max-width: 576px) {
  .button-primary {
  	padding: 10px;
  }

}