html,
body {
  margin: 0;
  font-family: Neutral Regular\ 3,NeutralBP,Neutral BP,Helvetica,Arial,sans-serif;
}

.App {
  min-width: 556px;
}
/**Navigation**/

/**Header height**/




/**flex style for navigation**/
.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.nav-item {
	list-style: none;
  padding: 20px;
}

.nav-link {
  text-decoration: none;
  color:rgb(0, 0, 0) ;
}


/**responsive page media query**/
/**small width 768px**/
@media (min-width: 768px) {
  .App {
  }
}

/**medium width 768px to 979px**/

@media (min-width: 768px) and (max-width: 979px) {
    
  }


/**large width 979px**/
@media (max-width: 979px){

}
